/* تنظیمات کلی */
* {
    font-family: 'Vazir', Arial, sans-serif;
}
body {
    margin: 0;
    direction: rtl;
    background-color: #f4f4f4;
}

@font-face {
font-family: Vazir;
font-style: normal;
font-weight: normal;
src: url('fonts/Vazir.eot');
src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
url('fonts/Vazir.woff2') format('woff2'), 
url('fonts/Vazir.woff') format('woff'), 
url('fonts/Vazir.ttf') format('truetype');
}



.gwendolyn-bold {
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  
  .header {
      width: 100%;
  }

  .mobile-radio-buttons{
    display: none;
}
  
  .top-bar {
      background-color: #ffffff;
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .new-container {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .logo a {
      text-decoration: none;
      color: #ff5722;
      font-size: 26px;
      font-weight: bold;
      transition: color 0.3s ease, transform 0.3s ease;
      font-family: "Gwendolyn", cursive;
  }
  
  .logo a:hover {
      color: #e64a19;
      transform: scale(1.1);
  }
  
  .search-bar {
      display: flex;
      flex: 1;
      margin: 0 20px;
      position: relative;
  }
  
  .search-bar input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 30px 0 0 30px;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      font-family: 'Vazir', Arial, sans-serif;
  }
  
  .search-bar input:focus {
      border-color: #ff5722;
      outline: none;
      box-shadow: 0 0 10px rgba(255, 87, 34, 0.5);
  }
  
  .search-bar button {
      padding: 10px 20px;
      border: 1px solid #ddd;
      border-left: none;
      background-color: #ff5722;
      color: white;
      border-radius: 18px 10px 30px 0px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .search-bar button:hover {
      background-color: #e64a19;
      transform: scale(1.05);
  }
  
  .user-options {
      display: flex;
      align-items: center;
  }
  
  .user-options .separator {
      height: 20px;
      width: 1px;
      background-color: #ddd;
      margin: 0 10px;
  }
  
  .user-options a {
      text-decoration: none;
      color: #333;
      display: flex;
      align-items: center;
      padding: 5px 15px;
      border: 2px solid #ddd;
      border-radius: 20px;
      transition: border-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  }

  .hereo a{
    border: none;
    padding: 0;
  }
  
  .user-options img {
      text-decoration: none;
      color: #333;
      display: flex;
      align-items: center;
      padding: 5px 15px;
      border: 2px solid #ddd;
      border-radius: 20px;
      transition: border-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
      width: 25px;
  }
  
  .user-options img:hover {
      border-color: #ff5722;
      color: #ff5722;
      transform: scale(1.05);
  }
  
  .user-options a:hover {
      border-color: #ff5722;
      color: #ff5722;
      transform: scale(1.05);
  }
  
  .user-options a i {
      margin-left: 8px;
      color: #ff5722;
  }
  
  .user-options a .text {
      display: flex;
      align-items: center;
      padding-bottom: 5px;
  }
  
  .user-options a .text .separator {
      margin: 0 7px;
      color: #ddd;
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 2;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.navbar-top a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    position: relative;
}

.navbar-top .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidebar {
    width: 200px;
    background-color: #f8f8f8;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
    position: relative;
    display: flex;
    align-items: center;
}

.sidebar ul li img {
    width: 20px;
    margin-left: 5px;
}

.has-submenu:hover > .submenu {
    display: flex;
}

.submenu {
    display: none;
    position: absolute;
    top: -39px;
    right: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    flex-direction: row;
    width: auto;
}

.menu-category {
    margin: 0 20px;
    position: relative;
    width: 200px;
}

.menu-category h3 {
    font-size: 18px;
    color: red;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.menu-category ul {
    list-style-type: none;
    padding: 0;
}

.menu-category ul li {
    margin: 5px 0;
    padding: 10px;
    white-space: nowrap;
}

.menu-category ul li:hover {
    background-color: #f0f0f0;
}
.menu-special {
    list-style: none;
    display: contents;
    margin: 0px 0;
    padding: 10px;
}

.menu-special a {
    text-decoration: none;
}

.menu-special a:hover {
    color: deeppink;
}

.dropdown .tree:hover{
    color: deeppink;
}
.tree img{
    width: 15px;
    margin-bottom: -3px;
}
  
  .group {
      display: flex;
      line-height: 34px;
      align-items: center;
      position: relative;
      width: 100%;
  }
  
  .input {
      width: 100%;
      height: 40px;
      line-height: 28px;
      padding: 0 1rem;
      padding-left: 2.5rem;
      border: 2px solid transparent;
      border-radius: 8px;
      outline: none;
      background-color: #f3f3f4;
      color: #0d0c22;
      transition: .3s ease;
  }
  
  .input::placeholder {
      color: #9e9ea7;
  }
  
  .input:focus, .input:hover {
      outline: none;
      border-color: rgba(234,76,137,0.4);
      background-color: #fff;
      box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
  }
  
  .icon {
      position: absolute;
      left: 1rem;
      fill: #9e9ea7;
      width: 1rem;
      height: 1rem;
  }


.view-all-container {
    display: flex;
    justify-content: left;
    margin-top: 13px;
    margin-left: 35px;
}

.view-all-btn {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: 'Vazir';
    background-color: ghostwhite;
}

.view-all-btn img {
    margin-left: 5px;
    width: 20px;
    transition: transform 0.3s;
    padding-right: 10px;
}

.view-all-btn:hover img {
    transform: translateX(-5px);
}

.apple .submenu{
    top: -75px;
}

.xiaomi .submenu{
    top: -117px;
}

.Huawei .submenu{
    top: -156px;
}

.nokia .submenu{
    top: -197px;
}
.icon2{
width: 25px;
position: relative;
top: 8px;
}

/* ============================= */
/*        قسمت نمودار           */
/* ============================= */


.container {
    display: flex;
    width: 90%;
    margin: 20px auto;
}

.fliter{
    display: flex;
    justify-content: space-between;
}

.filter-section {
    width: 20%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.filter-section h3 {
    color: #d32f2f;
    font-size: 18px;
    margin-bottom: 10px;
}

.clear-filters {
    background: none;
    border: none;
    color: #d32f2f;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
    top: 15px;
}

.filter-option {
    margin-bottom: 15px;
}

.filter-option label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.filter-option select, .filter-option input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(182, 182, 182);
    transition: .4s;
    border-radius: 10px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 8px;
    left: 0.3em;
    bottom: 0.3em;
    transform: rotate(270deg);
    background-color: rgb(255, 255, 255);
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: #21cc4c;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
    transform: translateX(1.5em);
}

.product-list {
    width: 75%;
    margin-right: 5%;
}

.sorting-options {
    padding: 10px;
    border-radius: 10px;
}

.sorting-options a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    margin-left: 24px;
}

.sorting-options a.active {
    color: #d32f2f;
    font-weight: bold;
    margin-left: 24px;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.products {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.product-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h4 {
    font-size: 16px;
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    color: #777;
}

.color-options {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.color-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.price {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.price-slider-container {
    position: relative;
    display: flex;
    align-items: center;
}

.filter-toggle , .close-filter{
    display: none;
}


/* ============================= */
/*         قسمت عکس             */
/* ============================= */


/* استایل کلی صفحه */
main {
    padding: 20px;
    background-color: #f9f9f9;
}

/* استایل بخش محصولات */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* هر ردیف ۴ محصول */
    gap: 20px; /* فاصله بین محصولات */
    justify-content: center;
}

/* استایل کارت محصول */
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 90%;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* استایل تصویر محصول */
.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* استایل عنوان محصول */
.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}

/* استایل قیمت */
.product-card .price {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

/* استایل قیمت قدیمی */
.product-card .old-price {
    text-decoration: line-through;
    color: #999;
    display: block;
}

/* استایل قیمت جدید */
.product-card .new-price {
    color: #e74c3c;
    font-weight: bold;
    display: block;
}

/* استایل برچسب فروش ویژه */
.product-card .special-sale {
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
}




/* استایل برچسب سفارشی */
.product-card .custom-order {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.pagination button {
    background: #f8f9fa;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.pagination .active {
    background: #cfe2ff;
    color: #0056b3;
    font-weight: bold;
}

.pagination button:hover {
    background: #e2e6ea;
}


/* ============================= */
/*            فوتر               */
/* ============================= */

.header-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-top: 15px;
}

.header-section div {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}

.header-section img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.header-section span {
    font-size: 14px;
    font-weight: bold;
}

/* استایل فوتر */
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-container > div {
    flex: 0;
    margin: 10px;
    min-width: 200px;
    text-align: right;
}

.footer-container h2 {
    font-size: 18px;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container li {
    margin: 5px 0;
}

.footer-container a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.footer-container a:hover {
    color: blueviolet;
    font-weight: bold;
}

/* اطلاعات تماس */
.contact-information p {
    margin: 5px 0;
    font-size: 14px;
}

/* لینک‌های شبکه‌های اجتماعی */
.social-media-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-media-links a {
    margin: 0 10px;
}

.social-media-links img {
    width: 30px;
    height: 30px;
}

/* نماد اعتماد */
.electronic-trust-symbol {
    margin: 20px 0;
    text-align: center;
}

.electronic-trust-symbol img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.electronic-trust-symbol span {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

/* طراح سایت */
.designer {
    text-align: center;
    margin-top: 20px;
}

.designer p {
    font-size: 12px;
    color: #aaa;
}

.designer a {
    color: blueviolet;
    text-decoration: none;
}





/* ============================= */
/*          ریسپانسیو           */
/* ============================= */


@media (max-width: 768px) {

    .logo a , .user-options , .navbar , .desktop-image{
        display: none;
    }
    .mobile-image{
        display: block;
    }
    .search-bar input{
        border-radius: 10px;
    }
    .container{
        margin-bottom: 5px;
    }




    .containerr {
        display: block;
        gap: 20px;
        max-width: 1200px;
        margin: 20px auto;
    }
    .cart-summary{
        margin-top: 20px;
    }



    .lavazem {
        display: flex;
        justify-content: right;
        flex-wrap: wrap;
        gap: 30px;
    }
    .daste{
        margin-bottom: -50px;
    }
    footer{
        padding-bottom: 60px;
    }




    
    /* نمایش در حالت ریسپانسیو موبایل */
        .mobile-radio-buttons {
            display: block;
        }
    
        .mobile-radio-buttons {
            position: fixed;
            bottom: -5px;
            left: 0;
            width: 100%;
            background-color: #fff;
            border-top: 1px solid #ccc;
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            border-radius: 9px;
        }
        
        .radio-button {
            text-align: center;
            font-size: 14px;
        }
        
        .radio-button input[type="radio"] {
            display: none;
        }
        
        .radio-button label {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            color: #666;
        }
        
        .radio-button label img {
            width: 27px;
    
        }
    
        .radio-button label a{
            display: flex;
            flex-direction: column;
            text-decoration: none;
        }
    
        .bord p{
            font-size: 12px;
        }
        
        .radio-button input[type="radio"]:checked + label {
            color: #000;
        }

        .header-section div {
            display: block;
        }

        .container {
            flex-direction: column;
        }
    
        .filter-section.active {
            display: block;
        }
    
        .product-list {
            width: 90%;
            margin-right: 0;
        }
    
        .products {
            flex-wrap: wrap;
            justify-content: center;
        }
    
        .product-card {
            width: 48%;
        }

        /* دکمه نمایش فیلتر */
    .filter-toggle {
        display: block;
        background-color: #d32f2f;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    /* مخفی کردن فیلتر در حالت عادی */
    .filter-section {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 89%;
        height: 100%;
        background: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    /* نمایش فیلتر هنگام کلیک */
    .filter-section.active {
        display: block;
    }

    /* دکمه بستن فیلتر */
    .close-filter {
        display: block;
        background: none;
        border: none;
        font-size: 20px;
        color: #d32f2f;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .sorting-options{
        display: flex;
    }

    .sorting-options a.active {
        color: #d32f2f;
        font-weight: bold;
        margin-left: 10px;
        position: relative;
        display: inline-block;
        text-decoration: none;
    }

    .sorting-options a {
        text-decoration: none;
        color: #555;
        font-size: 10px;
        margin-left: 10px;
    }

}
@media (max-width: 480px) {
    .product-card {
        width: 100%;
    }
}
@media (min-width: 420px){

    .header-section span {
        font-size: 16px;
        font-weight: normal;
    }

}
/* ریسپانسیو برای موبایل */
@media (max-width: 1024px) {
    .products {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .products {
        grid-template-columns: repeat(1, 1fr); 
    }
}